@font-face {
    font-family: 'Japanese Brush';
    src: url('brush.otf');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: Helvetica, sans-serif;
    text-align: justify;
}

#guess-body {
    background: #c6ffdd; /* fallback for old browsers */
    background: -webkit-linear-gradient(135deg, #c6ffdd, #fbd786, #f7797d); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(135deg, #c6ffdd, #fbd786, #f7797d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.outer-banner
{
  height: 100%;
  overflow: hidden; 
}

.inner-banner
{
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  transition: all 0.5s ease;
  /*background-image: url('/img/bak.png');*/
  background-attachment: fixed;
  vertical-align: middle;
  text-align: center;
}

body#index-body {
    font-family: forma-djr-text, Helvetica, sans-serif !important;
}

.navbarLogo {
    height: 30px;
    margin: auto 30px auto 4px;
}

.navbar {
    box-shadow: 5px 0px rgba(255, 255, 255, 0.5) !important;
    /* Original purple: #9e3f80 rgb(158, 63, 128) */
    background-color: #ff435f; /* grey: A0A09D */
    z-index: 9;
}

.navbar-light .navbar-nav .nav-link {
    color: white !important;
    transition: 0.2s
}
.navbar-light:hover .navbar-nav:hover .nav-link:hover {
    opacity: 50%;
}

.btn-outline-success {
    color: white;
    border-color: white !important;
}

.btn-outline-success:hover {
    color: #ff435f;
    background-color:white;
}
.btn-outline-success:active {
    color: #ff435f !important;
    background-color: white !important;
}

.btn-primary {
    background-color: #ff435f;
    color: white;
    border-color: #ff435f !important;
    max-width: 400px;
    margin: 0 auto;
}

.btn-primary:hover {
    background-color: white !important;
    color: #ff435f !important;
}

.btn-primary:visited {
    background-color: white !important;
    color: #ff435f !important;
}

.overlay {
    z-index: 1;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    position: fixed;
}

.infoContainer {
    margin: 0;
    position: absolute;
    width: 400px;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.ingredient-list {
    width: 520px;
    padding: 10px auto;
    background-color: white;
    margin: 0 auto;
    text-align: center;
    height: 80%;
    font-size: 1.5em;
    background-color:none;
    background-image: url("/img/paper.svg");
    animation: slideIn 2s forwards;
}

@keyframes slideIn{
    0% {transform: translateY(500px);}
    100% {transform: translateY(0);}
}
.ingredient-h {
    font-family: gooddog-new, 'Courier New', Courier, monospace, sans-serif;
    color: #565868;
    margin: 30px 0 10px;
    text-shadow: 0px 0px 10px #f9f2e4;
}

.card h1 {
    font-family: gooddog-new, 'Courier New', Courier, monospace, sans-serif;
    -webkit-text-stroke: 1px black;
    color: white;
    text-shadow: 2px 2px #ff435f;
}

.circle {
    position: absolute;
    height: 150px;
    display: none;
    top: -2px;
    left: -1.5px;
}

.circle:hover {
    display: block;
}

.badge-table {
    margin: 0 auto 150px;
}

.clue-badge {
    height: 75px;
    margin: 0 auto 10px;
}

.badge-hidden {
    background-color: none;
}

.clue-card {
    text-align: center;
    height: 150px;
    width: 150px;
    margin: 10px 5px;
    border: none;
    background: none;
    position: relative;
}

.clue-card:hover .circle{
    display: block;
}


.link-div {
    position:absolute; 
    width:100%;
    height:100%;
    top:0;
    left: 0;
  
    z-index: 1;
  
    /* fixes overlap error in IE7/8, 
       make sure you have an empty gif */
    background-image: url('img/empty.gif');
}

.error {
    opacity: 75%;
    color: #ff435f;
}

.badges-container {
    height: 100%;
    overflow: auto;
    margin-top: 10px;
}

.fixedHeight {
    height: 70%;
}

.progress {
    width: 70%;
    margin: 0 auto;
}
.progress-bar {
    background-image: url("/img/bar.svg");
    background-size: 50px;
    animation: scroll 2s infinite;
    animation-timing-function: linear;
}

@keyframes scroll {
    100% {background-position: 50px 0px;}
}

.conveyor {
    width: 100%;
    height: 200px;
    position: absolute;
    bottom: -100px;
    background-image: url("/img/sushi-belt2.png");
    background-size: 500px auto;
    animation: conveyor 10s infinite linear;

}

@keyframes conveyor {
    100% {background-position: 500px 0px;}
}

.clue-hidden {
    opacity: 25%;
    box-shadow: none;
    background: none;
}

.clue-hidden p {
    display: none;
}

.mainMap {
    z-index: 0;
    height: 100%;
    margin: 0;
    max-width: none;
    padding: 0;
    position: fixed;
}

.noTransition {
    transition: none !important;
}

.profile-pic {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    margin: 20px auto;
}

.rules-container {
    height: 400px;
    text-align: justify;
}


.ingredient-got {
    background-color: rgba(0,0,0,0.5); 
    width: 100%;
    height: 100%; 
    z-index: 10;
    top: 0; 
    left: 0; 
    position: fixed;
    animation: disappear 2s forwards;
    animation-delay: 8s;
}
.fan {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 2000px;
    margin-top: -1000px;
    margin-left: -1000px;
    animation: rotate 8s linear;
}
.ingredient-new {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 300px;
    margin-top: -150px;
    margin-left: -150px;
    z-index: 11;
    animation: grow 8s cubic-bezier(.13,.66,0,.99);

}

.sleep {
    display: none;
}

.ingredient-title {
    text-align: center;
    width: 100%;
    position: fixed;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 12;
    font-size: 4.2em;
    font-family: gooddog-new, 'Courier New', Courier, monospace, sans-serif;
    -webkit-text-stroke: 2px black;
    color: white;
    text-shadow: 2px 2px #ff435f;
    animation: disappear 2s forwards;
    animation-delay: 8s;
}

@keyframes rotate {
    100% {transform: rotate(180deg);}
}

@keyframes grow {
    0% {transform: scale(0);}
    100% {transform: scale(1);}
}

@keyframes disappear {
    100% {opacity: 0; z-index: -2;}
}

#music-setting {
    height: 30px;
    transition: 0.1s;
}

#setting-btn {
    background: none;
    border: none;
}

.speech-bubble {
	position: relative;
	background: white;
    box-shadow: 5px 5px #ff435f;
    width: 400px;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    text-align: center;
    visibility: hidden;
    animation: appear 0s forwards;
    animation-delay: 2s;
}
.speech-bubble-none {
	position: relative;
	background: white;
    box-shadow: 5px 5px #ff435f;
    width: 400px;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    text-align: center;
    visibility: hidden;
    animation: appear 0s forwards;
    animation-delay: 2s;
}

.speech-bubble-right {
	position: relative;
	background: white;
    box-shadow: 5px 5px #ff435f;
    width: 400px;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    text-align: center;
    visibility: hidden;
    animation: appear 0s forwards;
    animation-delay: 2s;
}

.speech-style {
    background: white;
    border: none;
    border-radius: 0;
    box-shadow: 5px 5px #ff435f;
}

.speech-overlay {
    background-color: rgba(0,0,0,0.5);
    z-index: 10;
    display: none;
}

.convo-continue {
    background-color: #ff435f;
    border-radius: 0.4em;
    border-style: none;
    color: white;
    padding: 5px 10px;
    margin: 20px 0 0;
    visibility: hidden;
}

.first-convo-btn {
    animation: appear 0s forwards;
    animation-delay: 6s;
    margin-top: 20px;
}

.next-convo-btn {
    animation: appear 0s forwards;
    margin-top: 20px;
}

.convo-continue:hover {
    box-shadow: none !important;
}

.convo-text {
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    width: 0;
}

.first-convo {
    animation: typing 3s steps(40, end) forwards;
    animation-delay: 3s;
}

.next-convo {
    animation: typing 3s steps(40, end) forwards;
}

.character {
    height: 200px;
    position: fixed;
    bottom: 10%;
}

.character-left {
    left: 30px;
    animation: stage-left 2s forwards;
}

.character-right {
    right: 40px;
    display: none;
    animation: stage-right 2s forwards;
}

#gInput {
    display: none;
    padding: 30px;
}

.wrong-answer {
    animation: shake 0.25s linear;
}

@keyframes shake {
    25% {transform: translateX(5px);}
    50% {transform: translateX(-5px);}
    75% {transform: translateX(5px);}
    100% {transform: translateX(-5px);}
}

@keyframes typing {
    from { width: 0 }
    to { width: 100%; border: none;}
}
@keyframes appear {
    100% {visibility: visible;}
}

@keyframes stage-left {
    0% {transform: translateX(-300px);}
    100% {transform: translateX(30px);}
}

@keyframes stage-right {
    0% {transform: translateX(300px);}
    100% {transform: translateX(-40px);}
}

@media (min-width: 768px){
    .gkToggler {
        display: none;
    }
    .btnMain {
        display: block;
    }
    .btnNav {
        display: none;
    }

    .gkNav {
        display: none !important;
    }

    .speech-bubble {
        transform: translate(-80%, -50%);
    }
    .speech-bubble:after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: 0;
        border: 20px solid transparent;
        border-right-color: white;
        border-left: 0;
        border-bottom: 0;
        margin-top: -10px;
        margin-left: -20px;
    }
    .speech-bubble-right:after {
        content: '';
        position: absolute;
        right: 0;
        bottom: 0%;
        width: 0;
        height: 0;
        border: 20px solid transparent;
        border-left-color: white;
        border-right: 0;
        border-bottom: 0;
        margin-top: -10px;
        margin-right: -20px;
    }

}

@media (max-width: 768px){
    .btnMain {
        display: none;
    }
    .btnNav {
        display: block;
    }
    .gkNav {
        display: block;
    }
    #sidebar-wrapper {
        border-right: none !important;
    }

    .speech-bubble {
        transform: translate(-50%, -80%);
    }
    .speech-bubble:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 0;
        height: 0;
        border: 20px solid transparent;
        border-top-color: white;
        border-bottom: 0;
        border-left: 0;
        margin-left: -10px;
        margin-bottom: -20px;
    }
}


.gkConts {
    display: none;
}

.add-clue-btn {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: #ff435f;
    border-radius: 50%;
    height: 50px;
    width:50px;
    padding:12.5px;
    transition: 0.2s;
}

.add-clue-btn:hover {
    box-shadow: 0 0 15px  rgba(255,135,153,0.9);
    -moz-box-shadow: 0 0 15px  rgba(255,135,153,0.9);
    -webkit-box-shadow: 0 0 15px  rgba(255,135,153,0.9);
    -o-box-shadow: 0 0 15px  rgba(255,135,153,0.9);
    transform: scale(0.95);
}

.add-clue-btn-dis {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: rgb(180, 180, 180);
    border-radius: 50%;
    height: 50px;
    width:50px;
    padding:12.5px;
    transition: 0.2s;
}

.add-clue-btn-dis:hover {
    box-shadow: 0 0 15px  rgba(180, 180, 180,0.9);
    -moz-box-shadow: 0 0 15px  rgba(180, 180, 180,0.9);
    -webkit-box-shadow: 0 0 15px  rgba(180, 180, 180,0.9);
    -o-box-shadow: 0 0 15px  rgba(180, 180, 180,0.9);
    transform: scale(0.95);
}

.add-clue-plus {
    height: 25px;
}

.gk-clue-div {
    margin-bottom: 15px;
    border: rgba(0,0,0,0.2);
    border-style:solid;
    border-width: 1px;
    border-radius: 3px;
    padding: 20px;
}

.gk-clue-div:hover {
    background-color: rgba(0,0,0,0.05);
    box-shadow: none !important;
}

.link-div:hover {
    opacity: 0.5;
    text-decoration: underline;
}

.profile-cards {
    width: 33%;
}