body {
    background: #c6ffdd; /* fallback for old browsers */
    background: -webkit-linear-gradient(135deg, #c6ffdd, #fbd786, #f7797d); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(135deg, #c6ffdd, #fbd786, #f7797d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    /*background: linear-gradient(142deg, rgba(255,135,153,1) 0%, rgba(255,113,134,1) 100%);
    /* #ff8799 => #ff7186 */
    font-family: Helvetica, sans-serif;
}

/* 〒605-0828 Kyoto, Higashiyama-ku, Kinenchō, 391 */

h1 {
    font-family: gooddog-new, 'Courier New', Courier, monospace, sans-serif;
    -webkit-text-stroke: 1px black;
    color: white;
    text-shadow: 2px 2px #ff435f;
}

.logo {
    height: 100px;
    margin-bottom: 20px;
}

.loginForm {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    transform: translate(-50%, -50%);
    text-align: center;
}

#adminLogin {
    position: fixed;
    width: 50%;
    margin: 0 25%;
    bottom: 20px;
    text-align: center;
}

.adminLink {
    color: white;
    transition: 0.2s;
}

.adminLink:hover {
    color: white;
    text-decoration: none;
    opacity: 50%;
}

.login-btn {
    margin: 20px auto 0;
    width: 300px;
    padding: 10px;
    background-color: #ff435f;
    color: white;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
}

.login-btn:hover {
    box-shadow: none;
    color: rgba(255, 255, 255, 0.5);
    transition: 0.2s;
}

.login-input {
    width: 300px;
    margin: 20px auto 0;
}

.error {
    opacity: 75%;
    color: #ff435f;
}